[2014-02-03 23:21] ev-br opened #50 "improve rendering of LaTeX math"
tag: wishlist

Currently, TeX math looks resterized and clunky as compared to eg IPython notebooks or MathOverflow.

[2014-02-05 13:11] #50 closed, assigned to nobody

[2014-05-22 16:45] linearregression opened #60 "http://www.scipy.org/ is down inaccessbile"

[2014-05-22 16:51] #60 closed, assigned to nobody

[2014-07-10 15:30] argriffing opened #67 "dev docs not updated since ~4 months"
I was looking for 'differential evolution' docs on
http://docs.scipy.org/doc/scipy-dev/reference/optimize.html
but these dev docs appear to not have been updated since March 16.  If someone has time, could the website possibly be updated to reflect, for example, the changes to https://github.com/scipy/scipy/blob/master/scipy/optimize/__init__.py over the last few months?

[2014-09-15 08:33] pv opened #72 "citing.rst in wrong place"
The citing.rst talks about citing all of the core projects, but is located under `/scipylib/` which only applies to Scipy library.

[2014-09-27 22:28] AxelBoldt opened #74 "Bug reports regarding documentation and web site"
Maybe www/bug-report.rst should explain where and how people are supposed to file bug reports about the web site and the scipy/numpy documentation.

[2014-11-21 12:01] erkkar opened #76 "Solving the Discrete Lyapunov Equation does not work with matrix input"
Function `scipy.linalg.solve_discrete_lyapunov` does not work when the second argument (Right-hand side square matrix) is of type `numpy.matrixlib.defmatrix.matrix`. Example:

[code]

Casting the second argument to an array (`numpy.ndarray`) solves the problem, but this is somewhat unexpected behaviour.

[code]

[2014-11-21 14:15] #76 closed, assigned to nobody

[2014-12-30 15:54] #72 closed, assigned to nobody

[2014-12-30 15:54] #74 closed, assigned to nobody

[2015-01-09 11:08] IsaacHaze opened #79 "SciPy website FAQ "Where to get help" empty"
Hi,

The FAQ entry on the scipy website has a "[Where to get help](http://www.scipy.org/scipylib/faq.html#where-to-get-help)" entry, but it's empty. I expected to see some contact details, a mailing list or something like that.

[2015-01-09 11:14] larsmans opened #80 "FAQ entry about matmul operator is out of date"
This one: [Why not just have a separate operator for matrix multiplication?](http://www.scipy.org/scipylib/faq.html#why-not-just-have-a-separate-operator-for-matrix-multiplication)

Python 3.5 will have the `@` operator suggested in [PEP 465](http://legacy.python.org/dev/peps/pep-0465/), if I'm not mistaken.

[2015-01-09 18:46] takluyver commented on #79
Well spotted. I've added a brief paragraph in #81.

[2015-01-11 16:38] #79 closed

[2015-01-12 19:36] #80 closed

[2015-01-22 09:07] jondo opened #85 "Wiki and blogs are down"
Currently, neither http://wiki.scipy.org/ nor http://planet.scipy.org/ can be accessed.

[2015-01-22 17:14] takluyver commented on #85
Thanks for the heads up. I have pinged people at Enthought to hopefully get it fixed.

I wish I knew what the underlying problem is - the server hosting those sites has been doing this for years.

[2015-01-22 18:47] rgommers commented on #85
fixed again. thanks for the report @jondo and the quick follow-up @takluyver

[2015-01-22 18:47] #85 closed

[2015-02-03 04:30] TravisDean opened #86 "Generated Documentation Images 404"
On this <a href="http://docs.scipy.org/doc/numpy/reference/generated/numpy.interp.html#numpy.interp">page</a>, the links on the (Source code, png, pdf) all result in 404 errors.

I haven't checked any other pages.

[2015-02-16 15:30] romunov opened #87 "error in site documentation for pmf() method for Poisson distribution"
[Probability mass function method (`pmf`) for Poisson distribution](http://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.poisson.html#scipy.stats.poisson) claims first argument to be `x`, whereas the actual argument is `k`, as evident in

[code]

[2015-02-16 15:57] ev-br commented on #87
Thanks for the report, but this should be filed under https://github.com/scipy/scipy --- this documentation is autogenerated in https://github.com/scipy/scipy/blob/master/scipy/stats/_distn_infrastructure.py .

A relevant scipy PR is https://github.com/scipy/scipy/pull/4499, comments welcome.

I'm thus closing this issue.

[2015-02-16 15:57] #87 closed

[2015-02-16 19:04] romunov commented on #87
It would appear I have misread  the documentation [on bug reportin](http://www.scipy.org/bug-report.html). I understood "above tracker" as [https://github.com/scipy/scipy.org/issues](https://github.com/scipy/scipy.org/issues) and didn't realize it refers to the list above that text. Sorry to inconvenience you, I will take my business to the appropriate tracker.

[2015-02-16 19:07] ev-br commented on #87
@romunov A PR with better wording would be welcome as well :-)

[2015-03-17 12:22] campospinto opened #88 "error in the doc of scipy.signal.convolve"
Hi,

in the doc http://docs.scipy.org/doc/scipy/reference/tutorial/signal.html#filtering
for the function scipy.signal.convolve it says:

"If the flag has a value of ‘same’ then only the middle K values are returned starting at  y[...] so that the output has the same length as the largest input"

But when I run it it seems that the output has the same length as the first input.

5

3

[2015-03-17 19:58] cshowe opened #89 "mstats.mannwhitneyu and stats.mannwhitneyu return inconsistent pvalues"
Assuming sample_population and base_population are masked arrays:

mstats.mannwhitneyu(sample_population, base_population)

and

stats.mannwhitneyu(sample_population.compressed(), base_population.compressed())

Return the same mann-whitney statistic but differing p-values.  The pvalue from mstats is twice the pvalue from stats suggesting that the mstats implementation is returning a 2 sided pvalue

[2015-03-17 20:01] pv commented on #88
Moved to https://github.com/scipy/scipy/issues/4640
(please report further documentation issues in the scipy library on that tracker)

[2015-03-17 20:01] #88 closed

[2015-03-17 20:03] pv commented on #89
Moved to the scipy library issue tracker https://github.com/scipy/scipy/issues/4641 (documentation issues, as opposed to website issues, go there)

[2015-03-17 20:03] #89 closed

[2015-04-20 08:09] scimax opened #90 "mismatch between doc an source code of optimize.leastsq"
http://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.optimize.leastsq.html#scipy.optimize.leastsq

For the parameter "maxfev" it is written that is is set to `100*(N+1)` if unspecified. In the source code it is either set to `200*(n + 1)` in case of "Dfun is None" or to `100*(n + 1)` in the case of given "Dfun"

[2015-04-20 19:05] rgommers commented on #90
@scimax thanks for the report. This should be fixed by https://github.com/scipy/scipy/pull/4758.

Note that the right repo to report issues on next time for Scipy documentation is https://github.com/scipy/scipy instead of https://github.com/scipy/scipy.org

[2015-04-20 19:05] #90 closed

[2015-05-01 20:31] quasiben opened #91 "Link Rot"
`Algorete Loopy` link on `install.rst` is no longer working -- suggest removing it from the list

[2015-05-03 20:10] rgommers commented on #91
@quasiben thanks for the report, fixing this up now.

[2015-05-03 20:56] #91 closed

[2015-05-11 14:24] argriffing opened #93 "mail.scipy.org is down?"

[2015-05-11 16:46] takluyver commented on #93
Yep, looks down from here too. I've pinged Chip Parker at Enthought about it.

[2015-05-18 23:06] takluyver commented on #93
Seems to be back now.

[2015-05-18 23:06] #93 closed

[2015-05-27 14:31] argriffing opened #94 "mail, wiki, and blogs are down"
http://wiki.scipy.org/
http://planet.scipy.org/
http://mail.scipy.org/

[2015-05-27 17:04] takluyver commented on #94
:angry: I'll ping the people who maintain it. Again...

[2015-05-27 17:04] takluyver commented on #94
(thanks for pointing it out)

[2015-05-27 18:17] takluyver commented on #94
The sites are back now. They're looking for a fix to stop this from happening repeatedly.

[2015-05-27 18:17] #94 closed

[2015-06-02 14:05] 2puppies opened #95 "Trouble using bioread to convert files from .acq to .mat"
Hello,

I am a new Python user (2.7.10) attempting to use bioread (https://pypi.python.org/pypi/bioread/0.9.5) to convert files from aqknowledge to matlab. I am using a 64-bit PC, and I have downloaded Matlab, Python, numpy, scipy and bioread. Can someone walk me through the installation process for this package? I can't seem to get it to work.

Thank you so much for your help!!

[2015-06-02 14:08] pv commented on #95
You should contact the bioread authors for help with their software. This issue tracker is for issues on the scipy.org web pages (broken links etc.).

[2015-06-02 14:08] #95 closed

[2015-06-15 14:26] argriffing commented on #94
I think these are down again.

[2015-06-15 16:28] takluyver commented on #94
They seem to be working from here at the moment.

[2015-06-26 17:54] yellowhat opened #96 "cKDTree"
Hi all,
I have two array (A,B) containing: ID, x, y, z of the same number of points but slightly differents.
I would like to have an array in which each row has the ID x y z of the two nearest points of the two array.
At the moment I have this:

import numpy as np
from scipy.spatial import cKDTree
A = np.loadtxt('A.txt')
B = np.loadtxt('B.txt')
tree = cKDTree( B[:,[1,2,3]] )
d, inds = tree.query(

[2015-06-29 20:14] rgommers commented on #96
Hi @yellowhat, this is the repo for the scipy.org website, not for the Scipy library (that would be https://github.com/scipy/scipy). However, since this is a query and not a bug report, the best places to ask are either the scipy-user mailing list (see http://scipy.org/scipylib/mailing-lists.html) or StackOverflow. Can you please ask there?

[2015-06-29 20:14] #96 closed

[2015-07-09 08:28] louisel opened #98 "List of Scikits 404"
scikits.appspot.com returns 404, so the list of scikits (scikits.appspot.com/scikits) cannot be accessed.

[2015-07-09 08:33] pv commented on #98
Seems to be down. In the meanwhile, you can use
https://pypi.python.org/pypi?%3Aaction=search&term=scikit&submit=search

[2015-07-09 18:37] takluyver commented on #98
If it was set up as an AppEngine App using the old data store model, Google may have turned it off - I've been getting emails for a few months about transitioning some old applications I made on AppEngine to a new database system, and there was a cutoff date where apps left on the old system would be killed.

I don't know:

- Who maintained that site?
- Do we still want a site listing scikits? I f

[2015-07-10 01:33] louisel commented on #98
Based on the [wayback machine's archive](https://web.archive.org/web/20150430213147/https://scikits.appspot.com/scikits) of the website, it appears that most of the info is duplicated on pypi. Would a static page pointing to the respective pypi pages suffice?

[2015-07-11 09:55] rgommers commented on #98
I agree that a static page which lists scikits + an explanation of what a scikit is (updated version of "about scikits") under scipy.org is enough. The automated listing feature on the appspot site doesn't add too much.

[2015-07-11 09:57] rgommers commented on #98
An update of http://scipy.org/about.html and a separate section on http://scipy.org/topical-software.html may be enough.

[2015-07-11 09:59] rgommers commented on #98
@louisel would you be interested in sending a PR to fix this?

[2015-07-11 10:00] rgommers commented on #67
up-to-date at the moment, so closing.

[2015-07-11 10:00] #67 closed

[2015-07-11 10:04] pv commented on #98
I think @stefanv had fixing the appspot app somewhere in the priority
queue, probably not at the top though :)

[2015-07-11 10:30] pv opened #99 "Improving topical software"
The topical software page is a direct translation of a wiki page.

- It is very long, and not very easy to read.
- It is not regularly updated --- authors of some projects add their packages there, but this does not seem to occur very commonly.
- It is far from comprehensive, not listing e.g. stuff on pypi

There are probably better ways to do it, potentially including
(i) splitting the long list

[2015-07-11 11:52] louisel commented on #98
Ok, I'll send a PR for a static page while the appspot app gets fixed.

[2015-07-15 18:23] stefanv commented on #98
I've started the app migration--should be done in an hour or so.

[2015-07-16 02:01] #98 closed

[2015-07-21 18:12] oceanEngineer opened #101 "UnivariateSpline: interpolator(a) raises error, but interpolator.integrate(a,b) does not"
I would like to create an interpolator which also integrates. The UnivariateSpline class seems like a simple solution to this problem.

My problem is that I would like it to return nan values outside of the bbox range. I came up with a solution involving a try/except statement. This works for the original interpolator function, but not for its integral (!)

My hacky solution is to evaluate the int

[2015-07-21 18:32] pv commented on #101
Note that this is the wrong issue tracker for this --- the correct one
to use is at https://github.com/scipy/scipy/

[2015-07-21 18:33] #101 closed

[2015-08-06 18:38] argriffing commented on #94
ping again... `It's not just you! http://mail.scipy.org looks down from here.`

[2015-08-06 18:41] takluyver commented on #94
I see it too. I've pinged people by email.

[2015-08-09 12:22] danielgeier commented on #85
Sites are down again and have been for a few days.

[2015-08-10 19:30] DhrubajyotiDas opened #102 "Wiki and blogs are down (again)"
Currently, neither http://wiki.scipy.org/ nor http://planet.scipy.org/ can be accessed.

Same issue as this one: https://github.com/scipy/scipy.org/issues/85

[2015-08-10 20:54] takluyver commented on #102
I've pinged people by email, but no response yet. I'll ping again.

[2015-09-01 13:48] phckopper opened #103 "SSL certificate expired"
The SSL certificate has expired today, now browsers display warnings when browsing the site

[2015-09-01 18:09] pv commented on #103
Should be OK now.

[2015-09-01 18:09] #103 closed

[2015-09-10 18:33] argriffing commented on #102
"It's not just you! http://mail.scipy.org looks down from here."

[2015-09-14 07:51] anntzer opened #105 "Updating the FAQ regarding FITS"
FAQ, Section "I want to load data from a text file. How do I make this code more efficient?", regarding the FITS format: the pyfits package is no longer independently developed and has been subsumed into the astropy project.

[2015-09-14 08:50] larsmans commented on #105
Care to submit a patch?

[2015-09-15 14:14] as79 opened #106 "Error in numpy.random.gumbel doc examples"
In the second example code at

http://docs.scipy.org/doc/numpy/reference/generated/numpy.random.gumbel.html

The following line

beta = np.std(maxima)*np.pi/np.sqrt(6)

should be

beta = np.std(maxima) * np.sqrt(6) / np.pi

Rgds

[2015-09-15 14:29] argriffing commented on #106
Thanks for the report, this should be in scipy/scipy instead of scipy/scipy.org.

[2015-09-15 15:01] WarrenWeckesser commented on #106
Actually, this is about `numpy.random.gumbel`, so the issue should be reported at https://github.com/numpy/numpy/issues

[2015-09-15 15:27] argriffing commented on #106
oops!

[2015-09-19 12:43] #106 closed

[2015-09-19 12:45] #86 closed

[2015-09-21 05:26] gsogc opened #108 "wiki.scipy.org is 403 Forbidden"
please fix

[2015-09-21 05:27] gsogc commented on #108
sorry

https://github.com/scipy/scipy.org/issues/102

[2015-09-21 05:27] #108 closed

[2015-09-21 18:52] filipesaraiva commented on #85
It is down yet! :(

[2015-09-21 18:53] filipesaraiva commented on #102
It is down yet :(

[2015-09-22 00:40] eternia478 commented on #102
Mailing list is also acting up, with weird things like

<code>
<scipy-dev-scipy.org@scipy.org> (expanded from <scipy-dev@scipy.org>): unknown user: "scipy-dev-scipy.org"
</code>

Not sure if related. Also, http://mail.scipy.org and http://planet.scipy.org are directed to MPI for Python, which doesn't make sense. wiki is completely down.

[2015-09-25 19:01] quasiben opened #110 "NumPy tutorial down"
Error on: http://wiki.scipy.org/Tentative_NumPy_Tutorial linked from www.numpy.org
[code]

[2015-09-25 20:20] pv commented on #110
Known issue.

[2015-09-25 20:20] #110 closed

[2015-10-04 20:57] Naereen commented on #102
Wiki is still down, no-one has any idea how to fix that?

[2015-10-09 17:57] fkbreitl opened #113 "Forbidden You don't have permission to access /Cookbook on this server."
At http://wiki.scipy.org/Cookbook I see

Forbidden

You don't have permission to access /Cookbook on this server.

[2015-10-09 18:03] fkbreitl opened #114 "Contact dalcinl@gmail.com not responsible"
The contact: dalcinl@gmail.com listed at https://planet.scipy.org/ is not responsible.
Please update. I received this email:

-------- Forwarded Message --------
Subject: 	Fwd: http://wiki.scipy.org/Cookbook Forbidden
Date: 	Tue, 6 Oct 2015 11:41:22 +0300
From: 	Lisandro Dalcin <dalcinl@gmail.com>
To: 	Frank Breitling <fbreitling@aip.de>

Dear Frank, I got two emails in the forward below, they may

[2015-10-09 18:05] fkbreitl opened #115 "http://wiki.scipy.org/ down"
The Wiki is down (since 2 weeks).
http://wiki.scipy.org/ says:

Forbidden

You don't have permission to access / on this server.

[2015-10-09 19:00] pv commented on #102
xref https://github.com/numpy/numpy/issues/6325

[2015-10-09 19:00] pv commented on #113
Duplicate of gh-102

[2015-10-09 19:00] #113 closed

[2015-10-09 19:00] pv commented on #115
Duplicate of gh-102

[2015-10-09 19:00] #115 closed

[2015-10-09 19:00] pv commented on #114
Duplicate of gh-102

[2015-10-09 19:00] #114 closed

[2015-10-09 19:05] fkbreitl commented on #102
Same thing here. My bug reports were all closed.

[2015-10-12 16:37] charris opened #117 "The icons at the top of the page are too close"
On my version of Firefox, with slightly larger fonts, the text under the different icons is running together, and the icons themselves look squashed together with excess space on the margins.

[2015-10-20 12:25] imranal commented on #102
The http://wiki.scipy.org/ is still down. I can't access it.

[2015-10-29 15:44] rcoacci commented on #102
Is there any place where we can find the wiki content while it's down? Internet Archive has nothing, since the wiki had a restrictive robots.txt

[2015-10-29 15:51] Naereen commented on #102
I tried too, and Google cache, and other web crawler caches, *nothing* :cry: !

[2015-10-29 15:53] argriffing commented on #102
@rcoacci @Naereen Just out of curiosity, were you guys looking for the 'numpy for matlab users' page?

[2015-10-29 16:03] rcoacci commented on #102
Nope, but there are lots of really useful pages there like Cookbook and ParalellProgramming. I'm specifically after the second.

[2015-10-29 16:05] Naereen commented on #102
@argriffing yes!
I found [that one instead](http://mathesaurus.sourceforge.net/matlab-numpy.html), but it's somehow not as useful :disappointed: ...

[2015-10-29 16:16] dEvasEnApati opened #122 "scipy.optimize.basinhopping: accept_test returning numpy.bool_ raises an error"
Dear Scipy team

When using scipy.optimize.basinhopping, if the accept_test function returns an object of type numpy.bool_, an error occurs. Is this an intentional feature? If not, I think it can be removed allowing accept_test to return numpy.bool_ object.

Thanks
Ajay

[2015-10-29 16:37] argriffing commented on #102
Th mailing list has some [discussion](https://mail.scipy.org/pipermail/scipy-dev/2015-October/021012.html) about this, and at least some of the content is temporarily [rehosted](http://pav.iki.fi/tmp/to-be-removed/localhost_8080/NumPy_for_Matlab_Users.html).

[2015-10-29 17:37] pv commented on #122
Note that this is the bug tracker for the website, please use the one for the library: https://github.com/scipy/scipy/issues/

[2015-10-29 17:37] #122 closed

[2015-10-29 20:30] imranal commented on #102
I want to access the cookbook. It seems that the content has been inaccessible for almost a month now.

[2015-10-29 20:33] argriffing commented on #102
According to that mailing list thread, the cookbook has been converted to IPython notebooks at http://pv.github.io/SciPy-CookBook/.

[2015-10-29 20:36] imranal commented on #102
I can't seem to find the Cython LIC example (Line integral convolution).

Perhaps also a good idea to change the link to cookbook at http://scipy.org/

[2015-10-30 10:34] gsogc commented on #102
i need mirror site.

[2015-11-07 11:38] Naereen commented on #102
Some important pages from the dead ``wiki.scipy.org`` are now hosted here: https://docs.scipy.org/doc/numpy-dev/user/
For instance, [Numpy for MATLAB users](https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html).

And the CookBook is now at https://scipy-cookbook.readthedocs.org/.

[2015-11-18 08:00] IceCivet opened #126 "scipy.stats"
hello, i use python 3.4. But when i use scipy.stats ,i am comfused to unable to load this ?

[2015-11-18 08:56] pv commented on #126
Please use stackoverflow.com or the mailing lists for questions on usage.

[2015-11-18 08:56] #126 closed

[2015-11-19 18:30] mrhmouse opened #127 "MathJax fails to load, due to mixed content rules"
In Firefox 23 & above (and possibly other browsers), pages served over HTTPS will refuse to load content served over HTTP. Since MathJax is loaded over HTTP in the documentation, formulas fail to render.

For example, see this page: https://docs.scipy.org/doc/scipy/reference/tutorial/linalg.html#decompositions

[2015-11-22 04:14] kevin1 opened #128 "*.scipy.org does not support any secure versions of TLS"
scipy.org and docs.scipy.org web servers only support SSL v3 and TLS v1.0, neither of which is secure.

https://www.ssllabs.com/ssltest/analyze.html?d=docs.scipy.org

![screen shot 2015-11-21 at 11 14 27 pm](https://cloud.githubusercontent.com/assets/580013/11322040/a4cf0ab4-90a5-11e5-8170-2bca80ff9bc5.png)

The situation is so bad that my browser refuses to connect to the server — clicking the "n

[2015-12-06 13:13] pv commented on #102
Seems to have been sorted out.

[2015-12-06 13:13] #102 closed

[2015-12-06 13:15] Naereen commented on #102
Well, the wiki is still not available.
The pages can be read from https://scipy.github.io/old-wiki/pages/ though, it might be enough for now.

[2015-12-06 13:27] pv commented on #102
`wiki.scipy.org` redirects to those pages. The wiki itself is not going to come back --- it was edited 2 times in the last 2 years.

[2015-12-06 13:47] WarrenWeckesser commented on #102
Was is even working?  I tried editing it a year ago (https://mail.scipy.org/pipermail/scipy-dev/2014-December/020259.html) and wasn't able to.

[2015-12-06 14:12] pv commented on #102
Iirc, it was in read-only mode for the last 2-3 years, due to being spammed to halt. The other numbers were 95 edits in the last 5 years. Nevertheless, if a wiki is needed (which is not clear), the hosting/maintenance should be done in a way that does not depend on piggybacking on someone's goodwill or available free time.

[2015-12-06 14:27] Naereen commented on #102
OK.
Then it's settled, this issue is indeed fixed.

Thanks for the explanations :tophat: !

[2015-12-14 19:22] tyhone opened #130 "Overloaded ‘isnan(double&)’ is ambiguous when compiling with gcc 4.8.1 -std=c++11"
This may be a numpy issue rather than a scipy issue, nevertheless, when installing scipy with the command "sudo -H pip install" I get the following compilation error:

In file included from scipy/special/Faddeeva.cc:122:0:
scipy/special/Faddeeva.cc: In function ‘std::complex<double> Faddeeva::erf(std::complex<double>, double)’:
/usr/local/lib/python2.7/dist-packages/numpy/core/include/numpy/npy_ma

[2015-12-14 20:38] pv commented on #130
Note that the correct issue tracker is here: https://github.com/scipy/scipy/issues

[2015-12-14 20:38] #130 closed

[2015-12-29 14:35] wtjones1 opened #132 "Unused variable declaration in generated f2pywrappers2"
I am using f2py for a project where the coding standards forbid the declaration of unused variables.  This is enforced by automated builds which consider warnings as errors.  As such, I am prevented from successfully compiling the *-f2pywrappers2.f90 code due to the declaration of an unused variable.

The variable "j" is declared in the wrappers generated to provide the dimensions of arrays.  The

[2015-12-29 14:47] ev-br commented on #132
We do not ship f2py, it's numpy: https://github.com/numpy/numpy

[2015-12-29 14:47] #132 closed

[2016-01-25 19:04] sunchaoatmo opened #135 "error in numpy mask doc"
In http://docs.scipy.org/doc/numpy/reference/maskedarray.generic.html#the-numpy-ma-module
Indexing and slicing, the example is:

masked_array(data = [1 -- 3],
             mask = [False  True False],
       fill_value = 999999)

masked_array(data = [1 -1 3],
             mask = [False  True False],
       fill_value = 999999)

However, for mx, given we assigned mx[1] as -1 ,so the output is suppos

[2016-01-25 19:08] argriffing commented on #135
I think this doc file is in the numpy repo, https://github.com/numpy/numpy/blob/master/doc/source/reference/maskedarray.generic.rst

[2016-01-25 19:09] pv commented on #135
Please report this issue here: https://github.com/numpy/numpy/issues

[2016-01-25 19:09] #135 closed

[2016-01-30 21:46] cfcohen opened #139 "Bounds not respected in scipy.optimize.minimize?"
The following code did not produce the results that I expected.   I don't know whether it's a bug or not, but I suspect that it is.  Problematically (for me at least), the behavior is very different when undefined is set to None, 0.0, 1.0, etc.   I expected that the bounds parameter would ensure that f(x) was not invoked with an invalid value of x.  SLSQP is not the only minimizer that exhibits th

[2016-01-30 21:49] takluyver commented on #139
This is the repo for the Scipy website - the repo for Scipy itself is here:
https://github.com/scipy/scipy

[2016-01-30 21:49] #139 closed

[2016-02-07 16:16] brentpayne opened #140 "scipy.org site down : Unable to connect"
Not sure if this is the place to inform you, but seems that the scipy.org has been down for a couple hours.

[2016-02-07 17:11] pv commented on #140
up again

[2016-02-07 17:11] #140 closed

[2016-02-07 23:06] brentpayne commented on #140
Thanks

[2016-02-12 12:44] hovren opened #142 "Homepage not updated with recent news"
I notice that there are commits for adding new news items for releases of e.g. scipy 0.17,
but they are not visible on the homepage itself. The latest news item there is from January 7.

[2016-02-13 14:35] rgommers commented on #142
Thanks @hovren, fixed now.

[2016-02-13 14:35] #142 closed

[2016-02-15 23:17] pv opened #144 "scipy-svn mailing list?"
The https://mail.scipy.org/mailman/listinfo/scipy-svn mailing list seems to be not accepting mails sent to it from Github. The similar list https://mail.scipy.org/mailman/listinfo/numpy-svn on the other hand is accepting mail.

[2016-02-16 01:58] gfyoung opened #145 "Update Building From Source on Windows"
Placing issue in `scipy.org` that can then be closed by my PR.  Links to `numpy` issue <a href="https://github.com/numpy/numpy/issues/5479">#5479</a> and <a href="https://github.com/numpy/numpy/issues/7104">#7104</a>.

[2016-02-16 09:01] rgommers commented on #144
Is that still needed? It seems like some arcane way of backing up an SVN server that's not really needed anymore with Git.

[2016-02-16 09:47] takluyver commented on #145
Did you mean to open this on [scipy/scipy](https://github.com/scipy/scipy)? This repo is for the scipy.org website.

[2016-02-16 09:48] takluyver commented on #145
Never mind, I see your PR. Should have looked more carefully.

[2016-02-16 13:11] pv commented on #144
If you want notifications about merges, similarly as it was for commits to svn. It's also a public record of pushes to git and corresponding commit hashes, which are not really tracked in git (apart from people's own cloned repos).

[2016-02-16 15:19] rgommers commented on #144
Okay, clear.

[2016-02-17 04:30] davidben commented on #128
The reason Safari doesn't load is probably because this site only enables DHE ciphers (but supporting TLS 1.2 would also be good). Chrome's intending to remove them later as well, so this should get resolved. See here:
https://groups.google.com/a/chromium.org/d/msg/security-dev/dYyhKHPnrI0/pNxx8vTKBAAJ

The site claims to be "Apache/2.2.16 (Debian)", Debian squeeze's version. You might want to sta

[2016-02-23 18:00] gfyoung commented on #144
+1 for such a mailing list.  I find it to be quite useful in `numpy`, and I see no reason why `scipy` wouldn't benefit from it either.

[2016-03-08 18:54] #145 closed

[2016-03-08 23:46] #105 closed

[2016-03-08 23:48] pv commented on #127
Has been addressed.

[2016-03-08 23:48] #127 closed

[2016-03-09 15:48] mrhmouse commented on #127
Wonderful, thank you! :cake:

[2016-03-13 02:48] KamarajuKusumanchi opened #154 "Please update the Debian version in the install page"
The "Ubuntu & Debian" section of http://www.scipy.org/install.html page refers to Debian 7.0 which is an old version. The current stable Debian version is 8.3 and was released on Jan 23rd, 2016 [1]. Could you please update the page accordingly?

[1] - https://www.debian.org/releases/stable/

[2016-03-26 06:12] gfyoung commented on #154
This page definitely needs a make-over, as that is not the only thing that is outdated on this page.  I recently did a good amount of work to update various portions of this website, so I can certainly try to do some updating on this page as well.

[2016-04-08 13:45] fasiha opened #159 "pip upgrade of scipy requires BLAS and LAPACK on Fedora/CentOS"
https://www.scipy.org/install.html#fedora advises users to use `yum` to install scipy and then `pip` to upgrade it. However, upgrading via `pip` fails unless the user has BLAS and LAPACK devel packages installed.

Per http://stackoverflow.com/a/25147728/500207, the solution is to first
[code]
and only then `sudo pip install --upgrade scipy`.

[2016-04-10 19:38] #154 closed

[2016-05-08 03:54] LSChyi opened #161 "matrix multiplication goes wrong"
I tried to multiply two matrix, but the result is wrong.
Here is the instance I used:

public_base = np.matrix([[-1612927239, 1853012542, 1451467945], [-2137446623, 2455606985, 1923480029], [2762180674, -3173333120, -2485675809]])
original_signature = np.matrix([[87398273893], [763829184], [118237397273]])
point = public_base * original_signature

and the answer I got is
[[-4827367651133834946]
 [

[2016-05-08 09:13] pv commented on #161
The answer is that the result you got is for 64-bit integer matrices.
Please see the documentation or ask on stackoverflow for more.

[2016-05-08 09:13] #161 closed

[2016-05-19 01:21] msustik opened #164 "Typo on website"
On http://docs.scipy.org/doc/scipy/reference/sparse.linalg.html

one finds:

"Return a fuction for solving a sparse..."

Best,
-Matyas

[2016-05-19 09:39] takluyver commented on #164
Thanks. The docs aren't part of this repo, however. That line is actually generated from a docstring in the code:
https://github.com/scipy/scipy/blob/3d2e725f9856a273d45ba85d9aa7cb01fc559ac6/scipy/sparse/linalg/dsolve/linsolve.py#L328

[2016-05-19 09:39] #164 closed

[2016-06-11 14:57] #159 closed

[2016-07-01 13:48] anikhalder opened #169 "IPython FITS file plotting problem"
Dear all,

I am facing a problem while running a script ( please find the attached files in the zip folder - I am attaching both the ipython notebook version and also the python script ).

I am trying to plot an array of values, write it into a FITS file format, read it back again and plot it ---> I don't get the same plots!

If you could please help me with this it would be great.

The following

[2016-07-01 14:40] pv commented on #169
This is not the correct forum for Q&A questions. You can ask the
question e.g. on stackoverflow.com

[2016-07-01 14:44] #169 closed

[2016-07-04 11:37] cladmi opened #170 "List of scikits page is broken"
When accessing http://scikits.appspot.com/scikits I get

[code]

[2016-07-04 12:31] takluyver commented on #170
I think this is where you want to report that: https://bitbucket.org/janto/scikits_index

[2016-07-04 12:33] pv commented on #170
cc @stefanv @janto

[2016-07-04 12:34] pv commented on #170
https://bitbucket.org/janto/scikits_index/issues/7/protocolerror-for-pypipythonorg-pypi-403

[2016-07-20 21:25] mspradlin opened #171 "mmwrite errors with large (but still 64-bit) integers"
There are several related problems with mmwrite which start appearing for integers not much larger than 2^53.

(1) First, for example, running the two lines:

from scipy import io, sparse, identity
io.mmwrite('out.mtx', sparse.coo_matrix(9123456789012345*identity(1, dtype='int64')))

results in an output file out.mtx containing the wrong integer 9123456789012344.

(2) Second, even worse, once the

[2016-07-20 21:49] mspradlin commented on #171
Posted in wrong section.

[2016-07-20 21:49] #171 closed

[2016-07-20 23:49] BLMeltdown opened #172 "Wilcoxon signed rank test "pratt" zero method bug"
Hello
As presented here:
http://stackoverflow.com/questions/38454893/error-in-scipy-wilcoxon-signed-rank-test-for-equal-series?noredirect=1#comment64315624_38454893
(without no answer to disprove it as a mistake from me),
I wish to report that maybe there is a problem with the results of scipy.wilcoxon signed rank test;

import scipy as sp
x1=[29.39958, 29.21756, 29.350915, 29.34911, 29.212635]
sp

[2016-07-20 23:52] pv commented on #172
Wrong bugtracker, cf https://github.com/scipy/scipy/issues

[2016-07-20 23:52] #172 closed

[2016-07-20 23:56] pv commented on #170
Was fixed

[2016-07-20 23:56] #170 closed

[2016-07-28 15:04] michaelbynum opened #175 "scipy.sparse.coo_matrix.tocsr modifies the row, col, and data attributes of the original coo_matrix"
In scipy-0.18.0, scipy.sparse.coo_matrix.tocsr() modifies the row, col, and data attributes of the original matrix. This is not the case in scipy-0.17.0. Consider the following example:

***************************************************************************************
import numpy as np
import scipy.sparse as sp
import scipy.sparse.linalg

row = [0, 1, 2, 0, 0, 1, 2, 3, 4, 5, 3, 4, 5, 6, 7,

[2016-07-28 15:05] takluyver commented on #175
This repository is for the Scipy.org website - please report issues in Scipy itself here:
https://github.com/scipy/scipy/issues

[2016-07-28 15:07] michaelbynum commented on #175
Oh, I apologize.

[2016-07-28 15:10] takluyver commented on #175
No problem

[2016-07-28 15:10] #175 closed

[2016-07-29 15:14] scimax opened #176 "Invalid link to RecordArrays in Quickstart Tutorial"
I hope this is the right place to submit this issue.

While browsing the [Quickstart Guide](http://docs.scipy.org/doc/numpy/user/quickstart.html#fancy-indexing-and-index-tricks) in the "Fancy Indexing" section I found this [link](http://docs.scipy.org/doc/numpy/user/RecordArrays.html) under "Indexing with Strings" which is pointing nowhere.
Should it point to this [section](http://docs.scipy.org/d

[2016-07-29 15:16] pv commented on #176
The link is in the numpy documentation, so the numpy issue tracker is
the right place to report it (so that you reach the relevant people).

[2016-07-29 15:32] scimax commented on #176
Ah, ok, sorry, thank you for your advice. I think [this](https://github.com/numpy/numpy/blob/1429c606643d1ad305e710c4a31cb6f398d04c53/doc/source/user/quickstart.rst) is the place of the source. I will submit the issue there.
Closed.

[2016-07-29 15:32] #176 closed

[2016-09-12 17:59] willingc opened #181 "Out of date SSL cert"
Migrated from scipy/scipy repo:

https://github.com/scipy/scipy/issues/6570

cc/ @jasongrout @takluyver

@pv mentioned that it was being worked on

[2016-09-14 21:04] takluyver commented on #181
There is a new cert now, valid until 2018. Thanks, whoever sorted it out!

[2016-09-14 21:04] #181 closed

[2016-10-04 10:04] rgommers opened #185 "Download page doesn't link to PyPI"
http://www.scipy.org/scipylib/download.html links to SF and to GitHub Releases (which for numpy does _not_ have the right tarballs, see https://github.com/numpy/numpy/issues/8117), but not to PyPI. Needs fixing.

And the release procedure for numpy needs looking at as well, GitHub Releases needs to have the release tarballs.

[2016-10-10 08:34] rgommers commented on #185
addressed in gh-186

[2016-10-31 23:18] jakirkham opened #187 "Can't load scipy.org ?"
Appears I'm completely unable to load scipy.org or any other related pages or links from Google. I keep getting "The connection was reset" errors from Firefox. Have already tried clearing my cache and it made no difference. Safari simply fails to load the page at all. Chrome gives me "ERR_EMPTY_RESPONSE". Is there some kind of known outage that is going on?

[2016-10-31 23:29] matthew-brett commented on #187
Same for me and http://downforeveryoneorjustme.com/scipy.org

[2016-11-01 06:32] matthew-brett commented on #187
Still down.

[2016-11-01 08:07] rgommers commented on #187
@dpinte as per email: ping.

[2016-11-01 08:07] rgommers commented on #187
Short summary: currently both scipy.org and docs.scipy.org are unreachable. Those live on different servers, and I can ssh into both servers just fine. So something else is going on - certificates, DNS stuff?

[2016-11-01 09:10] skirpichev commented on #187
SSH is on:
[code]

To me, it seems the webserver is down or connections are filtered:
[code]

[2016-11-01 10:02] pv commented on #187
They are the same server in fact. However, I understand someone is looking at this so it hopefully gets resolved soon.

[2016-11-01 10:24] aterrel commented on #187
Do we know who is looking into it? Didrik is on vacation away from computers for the rest of the week (or that's what he told me).

[2016-11-01 10:29] pv commented on #187
Afaik their IT guy is aware of the issue.

[2016-11-01 10:32] aterrel commented on #187
Okay great! That's the right person.

[2016-11-01 14:44] pv commented on #187
Ok, I got roots and fixed it. Should be back up now.

[2016-11-01 14:44] #187 closed

[2016-11-03 08:06] #185 closed

[2016-11-03 08:15] rgommers commented on #187
Thanks Pauli!

[2016-11-29 14:45] englandschorsch opened #191 "LaTeX rendering broken"
The LaTeX rendering on this site:
https://docs.scipy.org/doc/scipy-0.16.0/reference/tutorial/linalg.html
seems to be broken. I tested it with both Firefox and Chrome, but all i see is the raw LaTeX code.

[2016-11-29 14:55] person142 commented on #191
It looks fixed in recent versions:

https://docs.scipy.org/doc/scipy-0.18.1/reference/tutorial/linalg.html

Also, a note: the correct bug tracker for this is https://github.com/scipy/scipy/issues.

[2016-11-29 14:55] #191 closed

[2016-11-30 06:54] englandschorsch commented on #191
Oh sorry, I did not realize that my Google research had led me to a deprecated version of the website.

Concerning the bug tracker, I have to say that I merely followed the bug tracker link from https://www.scipy.org/bug-report.html, where it says "For problems with this scipy.org website, use the bug tracker for the scipy.org website project." This led me here. Maybe a more precise link would be

[2016-11-30 09:39] pv commented on #191
It says "Please report bugs, documentation errors etc. in the following
trackers:" above. However, maybe adding "For problems with this
scipy.org website (but not on docs.scipy.org), use the bug tracker ..."

[2016-11-30 21:48] takluyver commented on #191
I've opened #192 to try to make it clearer.

[2017-01-05 11:58] GiantCrocodile commented on #128
I would add a +1 to this. I can't read https://docs.scipy.org/doc because it doesn't support TLS 1.2 and lower versions aren't supported due to my browser's configuration.

[2017-01-06 10:21] takluyver commented on #128
😠 I thought we had moved the site to a newer server, so I'm disappointed that this still affects it.

[2017-03-13 21:10] acochrane opened #198 "is docs.scipy.org down?"
I can't reach https://docs.scipy.org

Is it just me?

[2017-03-13 23:25] xelibrion commented on #198
@acochrane nope, it's down for me too

[2017-03-14 07:40] Araneidae commented on #187
Seems to be down again this morning.

[2017-03-14 07:43] rgommers commented on #187
Thanks for the report @Araneidae. Tracking issue for this new problem is https://github.com/numpy/numpy/issues/8779

[2017-03-14 14:31] Mellonkhv commented on #140
scipy.org site down : Unable to connect - again

[2017-03-14 15:58] Akarius commented on #198
Still down for me.

[2017-03-14 16:08] rahulporuri commented on #198
please ref https://github.com/numpy/numpy/issues/8779#issuecomment-286361802

[2017-03-15 18:18] acochrane commented on #198
Looks good guys!

[2017-03-15 18:18] #198 closed

[2017-03-30 11:00] rgommers opened #204 "scipy.org not updating, served from the wrong location?"
The last few PRs have been pushed to the scipy.org server; I see that the files in ``/srv/scipy_org`` are up-to-date. They're not being served however, an outdated copy is (and checked that it's not my browser cache). There seem to be 4 copies of the site floating around, in:

    /mnt/scipy300/srv/scipy_org/
    /srv/scipy_org/
    /var/www/html/
    /var/www/html/scipy_org_tmp/

Not sure what's

[2017-03-30 15:38] Fleetside58 commented on #204
Ralf I had to use /var/www/html/, so you're welcome to push updates to that directory and trash the other three. For whatever reason, I couldn't get Apache to serve from /srv/scipy_org/ per the config of the old box.

[2017-03-31 08:09] rgommers commented on #204
Thanks @Fleetside58. I don't have permissions for ``/var/www/html`` though. There's some ``setgid``/``setuid`` thing that needs to be done (@dpinte did that last week for ``/srv/scipy_org``), so this works for non-admin users:

    rsync -org --chown=www-data:www-data --delete-after --exclude '.git' _build/html/ USERNAME@scipy.org:/var/www/html/

Could you do that?

[2017-03-31 15:06] Fleetside58 commented on #204
For which _USERNAME_?

[2017-03-31 16:25] rgommers commented on #204
Any account name on the scipy.org server with ssh access should be able to run that (it's part of the [Makefile for scipy.org](https://github.com/scipy/scipy.org/blob/master/www/Makefile)).

[2017-03-31 21:37] Fleetside58 commented on #204
I ran this command:
`sudo rsync -org --chown=www-data:www-data --delete-after --exclude '.git' _build/html/ cholton@scipy.org:/var/www/html/`

and got these errors:
[code]
One or both of us doesn't have the whole picture.

[2017-04-04 10:29] rgommers commented on #204
Fixed by @dpinte changing the permissions on ``/var/www/html`` and by serving both scipy.org and www.scipy.org from that directory.

Updated Makefile for that in gh-205.

Re "ran this command": it's not supposed to be run on the server. You run it in the ``www`` directory of your local copy of this repo.

[2017-04-04 10:29] rgommers commented on #204
Thanks for the help @Fleetside58 and @dpinte

[2017-04-04 10:29] #204 closed

[2017-05-02 08:02] videlec opened #207 "pip works on windows 10"
I successefully install numpy + matplotlib + jupyter on Windows 10 using directly pip shipped with Python 3.6.1. However, this option is not mentioned on the website and is by far the simplest (and cheapest in memory). More precisely, in the "Installing via pip" it is written

    Mac and Linux users can install pre-built binary packages for the SciPy
    stack using pip. Pip can install pre-built

[2017-05-02 08:22] pv commented on #207
You cannot install all of the core packages via pip.

[2017-05-02 09:02] takluyver commented on #207
Specifically, scipy does not appear to have Windows wheels on PyPI at present.

[2017-05-02 09:46] videlec commented on #207
@pv @takluyver Thanks for your answers. What does prevent having the wheels on PyPI?

[2017-05-02 15:44] ev-br commented on #207
See e.g., https://github.com/scipy/scipy/issues/5461 for the Windows wheels

[2017-05-02 15:44] #207 closed

[2017-06-10 06:07] rgommers opened #213 "No permissions to update docs.scipy.org"
The content at http://docs.scipy.org/ is served from ``/srv/docs_scipy_org/doc/``, which doesn't have the correct permissions for me to update it (and probably the same for the other user accounts).

This is very similar to gh-204. @Fleetside58, @dpinte could one of you have a look?

Permissions should be like for ``/var/www/html/``, which is where http://scipy.org content is served from:

    $ l

[2017-06-11 13:11] dpinte commented on #213
@rgommers looking at it now!

[2017-06-11 13:20] dpinte commented on #213
@rgommers can you try now? Permissions have been updated.

[2017-06-11 21:09] rgommers commented on #213
Thanks, that worked!

[2017-06-11 21:09] #213 closed

[2017-06-22 22:09] deathsta1ker opened #215 "Numpy v.1.13 TypeError with scipy.misc.pilutil.imsave of binary images"
Received the following error:

[code]

when trying to save a binary image (`np_array = np_array.astype('bool')`) to file with scipy.misc's imsave (using scipy v.0.19.0).

To produce the error, I used scipy.misc's `imread` to open a color TIFF. I used the standard luminosity conversion to turn the color image to grayscale and Otsu's method to turn the grayscale image to binary. The error came when

[2017-06-23 02:11] perimosocordiae commented on #215
This is the wrong issue tracker. Please open this again at https://github.com/scipy/scipy/issues

[2017-06-23 02:11] #215 closed

[2017-09-26 13:04] jchoude opened #225 "Scipy Central link is dead"
When viewing most pages of the scipy.org website, in the right sidebar, there is a link to "Scipy central".

However, this link currently points to http://central.scipy.org/ , which seems to be dead.

[2017-09-27 10:14] rgommers commented on #225
Thanks @jchoude. We've discussed it at https://github.com/scipy/SciPyCentral/issues/207 and looks like we're going to remove the links soon. I think I'll do it right now actually.

[2017-09-27 19:44] Jee-Bee opened #227 "ndimage missing reverse attribute"
I know that the tutorials  are not stricly the website but on the devdocs there are no possibilities to add an issue. So i do it here...

I am doing the ndimage tutorial with python 3. in the following script i get an error:

[code]

[code]

Since didn't know what should happens within reverse function i'm not able to fix it. I only can show where the line is what goes wrong....
on this line it go

[2017-09-27 20:17] pv commented on #227
Correct issue tracker: https://github.com/scipy/scipy/ (it's scipy documentation)

[2017-09-27 20:17] #227 closed

[2017-09-30 03:57] perimosocordiae opened #233 "Update or remove the "SciPy Stack spec" page"
[The page](https://www.scipy.org/stackspec.html) is pretty severely out of date at this point, so we should either update it or remove it.

[2017-10-01 19:50] rgommers commented on #233
See gh-218 for discussion

[2017-10-01 20:00] perimosocordiae commented on #233
Ah, I missed that. Closing as a duplicate.

[2017-10-01 20:00] #233 closed

[2017-10-07 15:12] #225 closed

[2017-11-19 23:48] PrabhanshuAttri commented on #128
How about using Cloudflare for SSL?

[2017-11-20 00:33] kevin1 commented on #128
Looks like they updated the TLS config so no need

<img width="1063" alt="screen shot 2017-11-19 at 7 33 20 pm" src="https://user-images.githubusercontent.com/580013/32997636-8bf51502-cd60-11e7-98b1-14e3ab8c9908.png">

[2017-11-20 00:33] #128 closed

[2018-08-03 19:43] ugultopu opened #261 "Cannot build the site"
[code]

[2018-08-03 19:44] pv commented on #261
Make sure sphinx is installed.

[2018-08-03 19:44] #261 closed

[2018-08-13 16:04] itamarst opened #263 "planet.scipy.org is down"
Times out when I try to connect to it.

[2018-08-13 16:40] pv commented on #263
@GaelVaroquaux: ping

[2018-08-15 13:30] itamarst commented on #263
And it's back! Thanks to whoever fixed it.

[2018-08-15 15:36] itamarst commented on #263
And now it's timing out again :cry:

[2018-08-16 15:39] mattip opened #264 "Latex output is broken"
First reported on numpy/numpy#11753. Our `conf.py` is set up to use latex tools to create images from latex input strings. This works find on [numpy.org](http://www.numpy.org/devdocs/reference/arrays.ndarray.html?highlight=internal#internal-memory-layout-of-an-ndarray) but not on [scipy.org](https://docs.scipy.org/doc/numpy/reference/arrays.ndarray.html#internal-memory-layout-of-an-ndarray). It is

[2018-08-16 16:25] pv commented on #264
I think the documentation files are typically built by the release manager of the release, on their own machine. A point that could be systematized, perhaps.

[2018-09-01 13:36] caichinger opened #267 "Link to Anaconda is broken"
The link to Anaconda in https://scipy.org/install.html#scientific-python-distributions is currently broken.

I submitted #266

Cheers,
Claus

[2018-09-03 07:42] caichinger commented on #267
Close by means of #266

[2018-09-03 07:42] #267 closed

[2018-09-10 22:47] pv commented on #263
Back up now.

[2018-09-10 22:47] #263 closed

[2018-09-10 22:47] pv commented on #144
Closing, not going to happen now that we don't host mailing lists any more.

[2018-09-10 22:47] #144 closed

[2018-09-11 04:52] GaelVaroquaux commented on #263
Very cool Pauli! I am glad that you had some form of backup (did you use
Google's cache?)

[2018-09-11 05:26] pv commented on #263
archive.org had a copy of the blog list...

[2018-10-02 10:18] sabrina-ar opened #271 "Importing linalg causes different outputs of multivariate_normal"
For some N the sample script results in different outputs depending on whether scipy.linalg is imported or not and whether running the script with the pycharm console or the terminal (numpy version 1.10.0, scipy version 0.17.1). Python version 2.7.

For N=1, 2, 3:
- Same outputs with pycharm console and terminal both for "import scipy.linalg" being turned on and commented out

For N=4, 5, 6, ...:

[2018-10-02 10:20] ilayn commented on #271
Hi @sabrina-ar This the repository for SciPy website. You might want to open your issue in the code repository https://github.com/scipy/scipy/issues

[2018-10-02 10:20] #271 closed

[2018-10-20 04:00] rgommers commented on #264
https://docs.scipy.org/doc/numpy/reference/arrays.ndarray.html#internal-memory-layout-of-an-ndarray looks fine now. I'm unclear on exactly what the problem is/was.

and yes, I usually build the numpy docs for a new release. the issue that is no longer present seems to have been with the numpy docs hosted on docs.scipy.org. so the right issue tracker is the numpy one. so I will close this; follow-u

[2018-10-20 04:00] #264 closed

[2019-02-18 17:06] Alexander-Serov opened #282 "PDF of the Student's t-distribution"
I am not sure if it's the right place for the question, but why does the documentation on the page
https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.t.html
feature \Gamma(\nu) in the PDF, while the real Student's distribution has \Gamma(\nu/2).
Is it a typo or a bug?

[2019-05-05 12:24] ynikitenko opened #292 "broken link to Py3K.txt"
On [Release Notes](https://docs.scipy.org/doc/numpy/release.html) page, the link to Python 3 support is broken:
http://projects.scipy.org/numpy/browser/trunk/doc/Py3K.txt (doesn't work, and is not archived on the web archive).

[2019-05-05 12:37] ilayn commented on #292
That part belongs to a very old version release notes (1.5.0 we are now 1.16.3) from pre-Github times. You can use https://github.com/numpy/numpy/blob/master/doc/Py3K.rst.txt

[2019-05-05 14:10] ynikitenko commented on #292
Thank you very much for the link! I needed that link to see the transition to Python 3, it was very interesting for me.

[2019-05-05 14:23] #292 closed

[2019-05-28 11:35] podkop opened #295 "typo in and suggestions for SHGO docs"
Page https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.shgo.html,
  the description of "constraints" argument ("constraints : dict or sequence of dict, optional"),
    2-nd line:
      g(x) <= 0 ...

Correct text: g(x) >= 0 ...

Explanation: the inequality constraints ("type": "ineq") are actually treated in the function as >= constraints. It is also confirmed in an example below

[2019-05-29 15:09] rgommers commented on #295
There's a couple of suggestions here that @Stefan-Endres may want to incorporate in SHGO, so pinging him.

Thanks for the report @podkop. Note that the correct repo for SciPy documentation issues is https://github.com/scipy/scipy (this one is just for the top-level website), so please use that for future issues.

[2019-05-29 19:18] Stefan-Endres commented on #295
Thank you very much @podkop for the detailed issue and @rgommers for pinging me. I'm almost ready to release a major performance update as well as a number of bug fixes in the [stand alone repository](https://github.com/stefan-endres/shgo), so I will include this doc fix [issue](https://github.com/Stefan-Endres/shgo/issues/29) and make a pull request to scipy with the latest version.

[2019-05-29 19:54] rgommers commented on #295
Thanks @Stefan-Endres!

I'll close this issue then, since you have one on your own repo.

[2019-05-29 19:54] #295 closed

[2019-06-29 13:01] pv commented on #282
It's a typo. Was fixed since then.

[2019-06-29 13:01] #282 closed

[2019-06-29 13:02] pv commented on #282
Note that issues in the documentation of the projects should preferably be filed on the project's bug tracker, in this case https://github.com/scipy/scipy/issues

[2019-06-29 14:34] Alexander-Serov commented on #282
Thanks!
Well, since I didn't know it was a typo, I couldn't know I should file there, right? :)

[2019-08-12 13:11] adsche opened #306 "Inconsistencies in "Citing""
Hi all,

the citing page lists the following entries (highlights from me):

And in the section NumPy

You will notice that the name first name and initials Travis E Oliphant are inconsistent. In no. 4, first and last name are switched (compared to other references).

Cheers!

[2019-08-20 13:47] mattip opened #308 "Outdated information on mailing lists page"
The information on `www/scipylab/mailing-lists.rst` as rendered [here](https://scipy.org/scipylib/mailing-lists.html) needs updating.

- Numpy-svn and Scipy-svn are no longer relevant
- Is nabble.com really the best we can offer for browsing the mailing lists?
- Is IRC still relevant or do we have a better chat alternative, or should we just remove that section?

[2019-08-20 21:48] rgommers commented on #308
Today, yes. It's possible to move the lists to Mailman 3 though (python.org mailman admins were trying this out a while ago) so we have a decent interface. Not sure what the status of that migration is.

There's a NumPy Gitter channel for users, and for people who wants to contribute there's a Slack (see https://www.numpy.org/devdocs/dev/index.html#contributing-to-numpy).

I'd like to use the same

[2019-08-28 18:06] pv commented on #308
The IRC channel was discussed on the mailing list some years back and a number of people volunteered to manage it. AFAIK, they're still there and it's occasionally active, so there are at least no new reasons to drop it.

[2019-09-06 07:10] mattip commented on #308
The information on the numpy nabble page was updated to the correct numpy-discussions@python.org domain (python not scipy) and website. Does the [scipy info](http://scipy-user.10969.n7.nabble.com/) need updating as well? I see some familiar names among the [admins](http://scipy-user.10969.n7.nabble.com/template/NamlServlet.jtp?macro=app_people&node=2), one of them (@rgommers ?) needs to login and

[2019-09-07 19:32] rgommers commented on #308
doesn't work. I can log in, but under options there's still only "Subscribe via email"

[2019-09-07 21:45] pv commented on #308
I see only "Timmie" as admin. A mail address can be found, but it's been many years...

[2019-11-18 02:49] mkg33 opened #322 "DOC: Update the license dates"
I'm currently working on removing any inconsistencies that are present on the website (i.e., punctuation, stylistic issues, etc.) and I just noticed the following (in `license.rst`):

[code]

Shall I update the end date in the range to 2019? Or is there a reason for keeping the year 2013?

[2019-11-18 02:52] rgommers commented on #322
yes please! we'd like to keep that updated

[2019-11-18 02:56] mkg33 commented on #322
Done. Thanks for the quick reply!

[2019-11-18 02:56] #322 closed

[2019-11-24 20:36] mkg33 commented on #306
Thanks, @adsche, we've improved the citing page.

[2019-11-24 20:36] #306 closed

[2019-11-26 22:34] rgommers commented on #117
Screenshot provided by @mkg33 this morning:

![image](https://user-images.githubusercontent.com/98330/69678170-a5eb0c80-1059-11ea-857e-001625b8c126.png)

This also happens when using Safari on macOS (Firefox and Chrome with default font settings are fine).

Note that we're planning to overhaul the whole scipy.org site, so probably not worth a lot of effort now. But if it's a simple tweak to the sp

[2020-01-20 07:51] RavishKumarTipu opened #333 "scipy entropy function"
scipy entropy functions returns incorrect results for array 1,1,1,1.... result should be zero

[2020-03-05 07:07] mdhaber opened #338 "Add Google Analytics?"
One way of measuring impact and which functions are used frequently would be via website traffic. I'd be interested in setting up Google Analytics in order to collect that data. Based on [this](https://www.similarweb.com/website/scipy.org#overview) estimate of the number of hits scipy.org gets per month (~3 million), we wouldn't exceed the [traffic limit](https://support.google.com/analytics/answe

[2020-03-05 13:42] rgommers commented on #338
Better analytics would be useful, and Google Analytics seems fine (I have no experience with it though).

Re free limit, I think we're at that limit already. From your link: _Every user interaction can be sent to Analytics as an individual hit, including (but not limited to) each pageview, screenview, event, and ecommerce transaction. As a result, a single session can result in many hits._ Similar

[2020-03-05 14:34] ilayn commented on #338
This might have also a backlash though since most people don't want to be tracked and use adblockers and antitrackers (including myself).

I don't have a strong opinion but google analytics seems like an overkill if just need a pagehit count.

[2020-03-05 15:25] mattip commented on #338
Is scipy.org behind a service like cloudfare? I would imagine they can give basic page view statistics already.

[2020-03-05 15:33] rgommers commented on #338
No it's not, and even if it were it'd be hard to get access to it (cause Enthought-owned).

[2020-04-24 09:32] SujoyKG opened #342 "Contribution: new image edge detection technique"
Hello Sir/ Madam,

I want to contribute to SciPy (Python) with a new image edge
detection technique
[a-better-first-derivative-approach-for-edge-detection-IJERTV2IS110616.pdf](https://github.com/scipy/scipy.org/files/4527928/a-better-first-derivative-approach-for-edge-detection-IJERTV2IS110616.pdf)
 which is more generic & better than the similar popular
techniques for the same.
The paper that I h

[2020-04-24 10:09] ilayn commented on #342
Hi @SujoyKG . Please first discuss this on the SciPy Dev mailing list.

https://scipy.org/scipylib/mailing-lists.html

Also note that this repo is for scipy.org website. For SciPy related things choose Scipy repository.

[2020-04-24 10:09] #342 closed

[2020-04-29 15:09] gauthe opened #343 "search in devdocs returns wrong link"
Hello,

This is about https://scipy.github.io/devdocs, I hope it fits here. When you use the search engine, the links it returns include an "undefined" that make them invalid. Example: the first link of https://scipy.github.io/devdocs/search.html?q=eigh is https://scipy.github.io/devdocs/generated/scipy.linalg.eighundefined?highlight=eigh.

This does not affect docs.scipy.org and appears only in t

[2020-08-01 19:08] rgommers opened #357 "Making scipy.org just about SciPy the library"
The top-level "SciPy ecosystem" page has gotten way too limiting, and SciPy the library is underserved. We should/will make scipy.org just about SciPy the library (perhaps similar in scope to numpy.org). We had a thread about this on the mailing list last September, and people seem mostly in agreement, so opening an issue to capture that here: https://mail.python.org/pipermail/scipy-dev/2019-Septe

[2020-08-07 07:49] stayen opened #360 "Sphinx link in the footer returns HTP 400"
The Sphinx link in the footer of scipy.org site, namely

http://sphinx.pocoo.org/

returns HTTP 400 (Nginx: 400 Bad Request).

[2020-08-07 10:01] sethtroisi commented on #360
https://github.com/python/python-docs-theme/commit/fc9f203dd79587c8aed2b822cf7401518cd65bb5

[2020-08-07 16:18] stayen commented on #360
It's changed in python-docs-theme, but isn't updated on the site?

[2020-08-07 19:24] sethtroisi commented on #360
Sorry, that link was just to show what the change will probably look like (and that other people are making it). I added some context to my message.

[2020-08-08 00:23] stayen commented on #360
@sethtroisi I see, thanks, so it's the matter of contacting the right people.

[2020-08-08 10:00] rgommers commented on #360
Hmm I thought I fixed all of those. Too many Sphinx-based sites:( Let me have a look at this one.

[2020-08-08 10:10] #360 closed

[2020-08-29 18:15] rgommers commented on #338
Could you make this proposal on the core dev list, with what it would actually cost? That's where we decide on spending $$.

Yes, a number like that is useful for proposals. Although a typical total estimate like 1.5M/month would be all you need, so similarweb may be enough.

The current site is so bad and has so little useful content that I don't think this will help much.

[2020-10-29 20:23] mondeja opened #373 "Scipy logo vector file"
Hello. I'm looking for the original logo of Scipy in vector format (SVG or other vector format), in order to include it in the [simple-icons](https://github.com/simple-icons/simple-icons) project. I can see that you have included in this repository the icon in raster PNG format, but would be very useful if you can share the vector one. Could this be possible?

Thank you!

[2020-10-29 21:49] grlee77 commented on #373
There is an SVG version here:
https://github.com/scikit-image/skimage-branding/blob/master/logo/scipy.svg

It is probably also stored somewhere here under the SciPy org., but I don't know where offhand.

[2020-10-30 07:31] mondeja commented on #373
Thank you!

[2020-10-30 07:31] #373 closed

[2021-02-02 14:17] grlee77 opened #382 "link to external listing of scikits is no longer working"
On SciPy's [topical software page](https://scipy.org/topical-software.html), there is a link to a "List of SciKits" at the right (see image below):

That link points to: http://scikits.appspot.com/scikits, but I get a "Server Error" when following the link

The top-level http://scikits.appspot.com page loads, but the "source" link in the footer of that page points to (https://bitbucket.org/janto/s

[2021-02-02 15:43] rgommers commented on #382
Maybe we should just get rid of that content? Or move it into a page on this repo. The scikits.appspot.com hasn't really made sense for at least 10 years.

Cc @stefanv, @jarrodmillman who may remember the origins of that site.

[2021-02-02 16:32] grlee77 commented on #382
Yeah, I think at this point there a lot of them, so it doesn't seem practical to maintain a comprehensive list. Maybe link to something like: https://pypi.org/search/?q=scikit&o=&c=Intended+Audience+%3A%3A+Science%2FResearch

If we are going to keep a topical page, it seems odd for it not to mention popular packages like scikit-learn or scikit-image, though.

Searching by tags/keywords on places l

[2021-02-02 20:02] stefanv commented on #382
Yes, a student built that for me a long, long time ago.  The code is now at https://github.com/stefanv/scikits_index/  It was running until a short while ago and gets a fair number of hits still, so I'll at least see if it's a quick fix.

I'm not sure how relevant it is any longer, at least not without some work.  It used to make sense because our scikits used to be distributed across so many diff

[2021-02-02 20:18] stefanv commented on #382
[code]

[2021-04-02 02:38] klonuo opened #388 "List of scikits page is broken"
Hi,

Scikits list mentioned on scipy.org and several other places: http://scikits.appspot.com/scikits returns Server Error

Links provided in ticket #170 are blank

[2021-04-02 02:39] klonuo commented on #388
duplicate

[2021-04-02 02:39] #388 closed

[2021-05-26 18:02] millivolt9 opened #392 "Possible unnecessary numpy "invalid value" warnings from PchipInterpolator"
Scipy.Interpolate.PchipInterpolator sometimes produces likely unnecessary
"RuntimeWarning: invalid value encountered in true_divide"
at line 288 during the evaluation of:
whmean = (w1/mk[:-1] + w2/mk[1:]) / (w1 + w2)
when interpolating over complex values.

This is because numpy produces both "invalid value" and "divide by zero" warnings in a true_divide when the divisor (in this case mk) contains

[2021-05-26 18:07] #392 closed

[2021-05-28 15:30] Uttam-Singhh opened #393 "Add a Footer containing link to all social media handles and mailing lists"
Add a Footer containing links to all social media handles(we can use the logo of the particular handle) and link to mailing lists or any other important contact information.
Please assign me this if no one is working.

[2021-05-28 16:38] tupui commented on #393
Hi, thanks for the proposal. I am not sure we want to do this. The website in general is pending (not started) an overhaul. So might not worth the effort of review/integration.

[2021-05-28 17:50] Uttam-Singhh commented on #393
oh ok!
Please let me know!

[2021-05-28 18:05] rgommers commented on #393
I agree, we're going to get rid of this theme and site layout, so it's not worth much effort. Also, we don't really have any social media anyway - only the mailing list, which is in the README on GitHub as well as on a separate page on the website.

Thanks for the offer of help though @Uttam-Singhh! I think once we get going on the website redesign, there'll be quite a bit to contribute to.

[2021-05-28 18:05] #393 closed

[2021-05-28 18:37] Uttam-Singhh commented on #393
Oh ok sure!
Please let me know if there are any more opportunities for beginners...

[2021-05-29 14:05] rgommers commented on #393
We're probably going to base the new site on the NumPy one (just tweak that design a bit and add new content), so if you'd want to try your hand at helping with the NumPy site, that would be great. The `good-first-issue` and `wimlds-sprint` labelled issues on https://github.com/numpy/numpy.org/issues are good starter issues.

[2021-05-29 15:30] Uttam-Singhh commented on #393
Hello @rgommers, actually there are no `wimlds-sprint` issues and only 2 `good first` issues which are under process so please let me know if I can do something else.

[2021-05-29 15:51] Uttam-Singhh commented on #393
@rgommers I have opened two issues on https://github.com/numpy/numpy.org/issues.
Can you please review and assign me those tasks. I'd would love to work on them.

[2021-05-29 17:38] rgommers commented on #393
will do, thanks @Uttam-Singhh

[2021-05-29 17:49] Uttam-Singhh commented on #393
Thank you so much @rgommers!

[2021-06-17 03:13] gazzar opened #395 "Removing AI Pool"
Hi,
Is it appropriate for me to create a pull request with AI Pool removed from the feedlist? I think it's not appropriate to be mirroring what is essentially a stackoverflow-like narrow-domain list that is peripheral to SciPy on Planet SciPy. However, this is only one person's opinion so I also feel that it may not be appropriate for me to do this.
Thoughts?

[2021-06-17 07:53] rgommers commented on #395
Agreed, this looks off. When I reviewed it, it had actual blog content like:
- https://ai-pool.com/a/s/understanding-of-probability-distribution-and-normal-distribution.
- https://ai-pool.com/a/s/visualization-with-seaborn
- https://ai-pool.com/a/s/introduction-of-fast-fourier-transformation--fft

Review at https://github.com/pv/staticplanet/pull/9, I'll comment there to give them one chance to fi

[2021-06-17 07:56] rgommers commented on #395
@Hazarapet your feed changed from blog post to Stack Overflow like snippets. As a result there's a proposal here to remove your feed. Can you tell us if this change was on purpose? And if not, can you please fix your feed back to blog posts only?

[2021-06-18 08:09] Hazarapet commented on #395
We have separated feeds by their category and the ai-pool.com/feed.xml contains all types of contents.
Now have a separate feed with https://ai-pool.com/feed_article.xml, which contains only blog posts.

[2021-06-18 21:51] rgommers commented on #395
Thanks @Hazarapet. I opened a PR at https://github.com/pv/staticplanet/pull/11 to address this issue.

[2021-06-19 08:59] #395 closed

[2021-08-12 21:38] fasiha opened #400 "Scipy 1.7.0 release notes missing?"
Scipy versions [1.6.3](https://docs.scipy.org/doc/scipy/reference/release.1.6.3.html) and [1.7.1](https://docs.scipy.org/doc/scipy/reference/release.1.7.1.html) have valid release notes but when I click on the link in either of those pages for [1.7.0](https://docs.scipy.org/doc/scipy/reference/release.1.7.0.html), I get a 404 error?

I thought maybe it was a website caching issue but it's been lik

[2021-08-12 23:35] tylerjereddy commented on #400
There are a few issues related to the new documentation theme we started using in the `1.7.x` series and how it interacts with our current release process.

One of a few related issues in the main repo: https://github.com/scipy/scipy/issues/14522

[2021-10-13 20:52] jarrodmillman opened #414 "Team galleries"
After merging #413, consider adding team galleries.

[2021-10-14 16:43] jarrodmillman opened #415 "Installation"
After merging #413, consider improving installation information.  See https://github.com/scipy/scipy.org/pull/413#discussion_r727927928.

[2021-10-18 04:53] jatin837 opened #416 "Broken link to getting started page"
![image](https://user-images.githubusercontent.com/63631162/137671188-9dbad2cf-18f0-4ce8-818d-78d6d923ba85.png)

[2021-10-18 09:08] tupui commented on #416
Hi @jatin837. Thanks it's a known issue and we are also rewriting the doc right now. I am closing.

[2021-10-18 09:08] #416 closed, assigned to nobody

[2021-10-20 21:45] jarrodmillman opened #418 "Deploy new site"
- [x] Merge #413
- [x] update DNS so that https://draft.scipy.org/ is served by netlify
- [x] add redirects (i.e., from `https://scipy.org/scipylib/<page>` to `https://scipy.org/<page>`)  #419
  - [x] `scipy.org/scipylib` ->  `scipy.org`
  - [x] `scipy.org/scipylib/license.html` -> `github.com/scipy/scipy/blob/master/LICENSE.txt`
  - [x] `scipy.org/scipylib/download.html` -> `scipy.org/download/`

[2021-11-01 17:47] jarrodmillman commented on #418
@rgommers, @ilayn, @tupui We updated the DNS so that https://draft.scipy.org/ is served by netlify.  There are several cleanups I still want to do (e.g., updating the installation information, adding the team gallery, etc.).  But I think we should deploy what we have now soon.  So it would be great if you could let us know:

1. If there is anything else we need to do before updating the DNS so tha

[2021-11-01 18:04] tupui commented on #418
Thanks for doing this. I also think we can deploy as is. It's already in good/better shape compared to the current site.

[2021-11-01 19:01] rgommers commented on #418
I agree, +1 for going ahead. There are no specific times to avoid, please pick whatever is most convenient for you.

[2021-11-01 23:06] jarrodmillman opened #420 "Update logo"
See
- https://numfocus.salsalabs.org/donate-to-scipy/index.html
- https://numfocus.org/project/scipy
- https://github.com/scipy

[2021-11-02 00:43] jarrodmillman commented on #418
@rgommers, @ilayn, @tupui We've updated the DNS.  You should now (or very soon) see the new site when you go to https://scipy.org (or https://www.scipy.org).  Please let us know if you see any problems.

[2021-11-02 00:45] mdhaber commented on #418
Looks great!

[2021-11-02 01:07] ilayn commented on #418
Fantastic! Thanks so much again for this effort.

[2021-11-02 03:45] jarrodmillman commented on #308
I believe this is fixed on the new site.

[2021-11-02 03:45] #308 closed

[2021-11-02 09:23] tupui commented on #420
Also in the readme?

[2021-11-02 11:26] rgommers commented on #420
Changed in the main repo, and on the GitHub org as well.

[2021-11-03 10:21] rgommers commented on #414
Probably not - steering council overlaps largely with maintainers so a list of names in the governance docs will do. And release manager is named there too; usually one person rather than a team.

[2021-11-03 10:26] tupui commented on #414
👌 ok so we don't do a section for these 2 roles. Then let me know if you do some changes to the GH groups and I can run the scripts (and do a PR). I can also start with the single current maintainer list and I manually do the web one.

[2021-11-03 10:30] rgommers commented on #414
I don't have much time this week (CZI workshop is happening), so maybe just go ahead with a PR so we see how it look and can review/tweak?

[2021-11-03 15:50] jarrodmillman commented on #414
@tupui It may make sense to hold off on the script and stuff.  @stefanv and I are in the process of working on the team gallery stuff for the theme:  https://github.com/scientific-python/scientific-python-hugo-theme/pull/49

Take a look at https://github.com/scientific-python/scientific-python-hugo-theme/blob/main/tools/team_query.py.  We are trying to get a few other things fixed for the theme fi

[2021-11-03 15:56] tupui commented on #414
@jarrodmillman I just pushed a PR which uses this script.

I would be happy to help 😃 Just ping/email/call me.

Totally agree! There is no rush on my side, I thought the script was ready to use 😅

[2021-11-06 05:09] tylerjereddy opened #422 "DOC: process for new releases"
Hi @stefanv and @jarrodmillman -- can you briefly summarize what I need to do to announce a new release with the new `scipy.org`? The old process is like this PR: https://github.com/scipy/scipy.org/pull/399

Once I learn it I can just repeat the PRs with a bumped version I suspect.

[2021-11-06 05:10] tylerjereddy commented on #422
It may be obvious, but it is pretty late so I'll take a look later this weekend.

[2021-11-06 06:32] stefanv commented on #422
Hi Tyler, I can follow up with more detail tomorrow, but I believe you want to update https://github.com/scipy/scipy.org/blob/master/content/en/news.md

The website, after merge, will build and deploy itself.

[2021-11-06 11:25] tupui opened #423 "Migrate docs.scipy.org"
The content of docs.scipy.org should be migrated here.

xref https://github.com/scipy/docs.scipy.org/issues/59

[2021-11-06 15:52] rgommers commented on #422
The second place to update is the `news:` entry in `config.yaml` in the root of the repo.

[2021-11-06 18:13] stefanv commented on #422
Ah, right, that sets the news bar text on the front page!

[2021-11-06 18:14] stefanv commented on #422
In our other sites, I think we will have the news articles automatically list themselves and then use the latest one on the banner.  That way, only a new entry has to be added as a markdown file.

I'll implement that in the theme, and then we can decide if we want to switch SciPy over.

[2021-11-06 19:17] stefanv commented on #422
See https://github.com/scientific-python/scientific-python-hugo-theme/pull/64

[2021-11-09 10:13] tupui opened #426 "Update community"
Following #421, the mailing list only page will serve as the community page.

We can copy the content from NumPy to start.

[2021-11-10 09:06] tupui commented on #422
Following #425, we can continue to have a single news page and we have now the possibility to update the banner from the news preamble. Hence making a new release (or any news) would just mean updating the news page and preamble.

[2021-11-11 13:58] jarrodmillman commented on #422
@tylerjereddy We are still changing things a bit, so feel free to ping me when you make a new release announcement PR and I will double-check that you got everything.  Also, if you point me to the scipy release process documentation, I will make sure to keep it up-to-date.

[2021-11-11 14:00] tupui commented on #422
@jarrodmillman AFAIK the release documentation is here https://scipy.github.io/devdocs/dev/core-dev/index.html#making-a-scipy-release

[2021-11-15 00:52] #418 closed

[2021-11-16 18:17] rdgraham opened #427 "List of scikits broken"
Just wanted to report that the automatic list of scikits at http://scikits.appspot.com/scikits , linked from https://svn.scipy.org/topical-software.html is currently broken, not resolving. Not sure of the status of svn.scipy.org, but in any case the page is still accessible and the list is useful information.

[2021-11-16 18:23] rgommers commented on #427
Thanks @rdgraham. @stefanv can we get rid of https://svn.scipy.org?

[2021-11-16 18:24] rgommers commented on #427
There is unfortunately a lot on that page that is outdated. It could use more maintenance. Maybe it should be changed to a plain README in a standalone repo so it's easier to update? A curated list has value, but it's not something I'd like to have on scipy.org anymore or have the SciPy maintainers be responsible for.

[2021-11-16 21:55] jarrodmillman commented on #427
#382

[2021-11-16 22:08] jarrodmillman commented on #427
Here is a partial list of addresses pointing to the old site:

-  https://svn.scipy.org
- https://new.scipy.org/
- https://test.scipy.org/
- https://projects.scipy.org/

[2021-12-01 14:31] tupui commented on #422
I believe this is resolved now.

[2021-12-01 14:31] #422 closed

[2021-12-09 13:35] kwinkunks opened #429 "Search URL breaks on some paths of the docs subdomain"
I am not sure where exactly this bug originates, or even if it would be called a bug as such. I tried searching the scipy.org repo and the scipy docs, but I'm not smart enough to find the code that's doing this.

Here's what I'm doing:

- Google 'scipy generic filter' (that's how I generally get to the docs, I know it's not a great approach!)
- First link: https://docs.scipy.org/doc/scipy-0.14.0/r

[2021-12-09 13:51] rgommers commented on #429
Thanks for the report @kwinkunks. Yes, this is known problem. We should fix it by having a version switcher in the docs, and always defaulting to latest. Plus some robots indexing magic perhaps. The version switcher is planned, but is a nontrivial feature. I expect it to arrive within the next months.

[2021-12-09 14:14] tupui commented on #429
FYI they just merged the feature on the theme side 😃 so we might be able to enable this soon.

[2021-12-22 17:05] rgommers commented on #414
I have renamed "Scipy core team" to "Maintainers", and also added an "Emeritus maintainers" team, currently containing 16 people who are no longer active. Before I remove anyone from the Maintainers team (causing them to lose a bunch of permissions) I'll ping those people and also discuss with the active maintainers what the permissions for Emeritus maintainers should look like.

Also, I made both

[2021-12-23 07:12] tupui commented on #414
All sounds great to me. Thanks Ralf! I will update the PR after Christmas when I am back. This will let some time for people to reply to your emails.

[2021-12-28 11:29] #414 closed

[2022-01-09 20:04] tupui commented on #338
Since https://github.com/scientific-python/scientific-python-hugo-theme/pull/89, we can ask to get added to the Scientific-Python project. Would this be ok?

[2022-01-09 20:09] rgommers commented on #338
Sounds like a good idea to me!

[2022-01-09 20:12] tupui commented on #338
@stefanv is this the Scientific-Python url that we have to use? If yes I can make a quick PR 😃

[2022-01-09 22:04] stefanv commented on #338
Yeap, your PR #435 does the right thing! I've enabled scipy.org on our plausible install.

[2022-01-10 20:51] #338 closed

[2022-01-11 20:02] stefanv opened #436 "Installation instructions lacking"
Currently, the scipy README refers to https://www.scipy.org/install/ as the most up-to-date source of source installation instructions.

However, that page only says:

This is not very helpful.

[2022-01-11 20:07] rgommers commented on #436
That's because this was the SciPy ecosystem install page. We should just link to the docs.

When we're updating, let's also fix the rest. It was pointed out earlier today that conda-forge/miniforge/mambaforge are not mentioned at all. I'd say Mambaforge is my first recommendation these days.

[2022-01-11 20:13] stefanv commented on #436
I am trying to build SciPy, and am unable to do so. I feel like a complete n00b :joy:

Just a cryptic:

[code]

So, maybe we also need some instruction updates related to the meson build process?

[2022-01-11 20:15] stefanv commented on #436
The [dev docs also say](http://scipy.github.io/devdocs/install_upgrade.html#installing-upgrading):

[2022-01-11 20:18] ev-br commented on #436
Just seen it a couple of days back, with a regular setup. py build. Felt just the same :-).
I *think* it's fixed by git submodule update

[2022-01-11 20:20] rgommers commented on #436
`git submodule update --init` should fix that one.

[2022-01-11 20:21] rgommers commented on #436
Not yet, since it's not very well tested yet and is only 100% robust on Linux + OpenBLAS at the moment. Give it 3 more months.

[2022-01-11 21:09] tupui commented on #436
Re mamba, this is so great! I started using this last week and cannot go back to something else!!

[2022-01-12 13:20] rgommers commented on #436
No, just for "building from source" to link to https://scipy.github.io/devdocs/dev/contributor/contributor_toc.html#development-environment. Our website should have the main advice. Building from source is niche now (and as difficult as ever still), and should not be presented on scipy.org to the average user.

[2022-01-12 18:30] tupui commented on #338
Do we want to have this for the documentation website? Which was the original idea of the issue.

[2022-01-12 18:39] mdhaber commented on #338
Yes, please, I think. I'm not sure what data you get, but I was hoping to be able to see numbers for documentation of functions/classes so we can get a sense of what is being used.

[2022-01-12 18:45] tupui commented on #338
This is what we get, no more but still valuable.

@stefanv if we want to add it to the documentation itself, I just need to copy the JS script right? Can we add this to the same dashboard (using the same domain in the config) or we need another one? Like can we do the following?

`<script defer data-domain="scipy.org" src="https://analytics.scientific-python.org/js/plausible.js"></script>`

<img w

[2022-01-13 00:34] stefanv commented on #338
@tupui I don't think that will work, since the domains will be mis-matched. I've added `docs.scipy.org` as a separate data-domain. Once it starts tracking, I can add you as admin.

[2022-01-13 00:38] stefanv commented on #338
Also, it looks like we'll be able to "roll up" those stats into one dashboard: https://github.com/plausible/analytics/discussions/160#discussioncomment-1581474

[2022-01-13 00:44] stefanv commented on #338
@tupui It looks like you *can* use the same data-domain for both sites, it's just that the URLs will be combined: https://plausible.io/docs/plausible-script#can-i-use-the-same-snippet-across-my-domain-and-subdomain

The "rollup" mentioned above means you can track the sites separately *and* together, *or* together, *or* only separately. Let me know which option you prefer.

[2022-01-13 06:44] tupui commented on #338
After reading this, I would say we start separately and if we need to combine things we can always add another domain to use the rollout method.

[2022-01-13 08:20] stefanv commented on #338
Great, then you should be all set.

[2022-01-13 18:33] jarrodmillman commented on #415
See #436.

[2022-01-25 17:28] tupui commented on #423
Once SciPy's PR is in, we can deprecate or remove the page.

[2022-01-27 02:13] #426 closed

[2022-02-02 07:53] stefanv opened #446 "Harmonize contribute pages from numpy.org and scipy.org"

[2022-02-02 15:35] tupui commented on #446
What do you have in mind? I updated the this website to be close to what NumPy has.

[2022-02-02 18:51] stefanv commented on #446
The NumPy page recently received an update, so just wanted to por that.

[2022-02-02 22:23] tupui commented on #446
You are talking about this one right https://numpy.org/contribute/ ? Because that was my model for https://scipy.org/contribute/. I just removed the part about slack.

[2022-02-02 22:35] stefanv commented on #446
Yes, Jarrod recently made a commit.

[2022-02-02 22:36] jarrodmillman commented on #446
Making a PR as we speak.

[2022-02-02 22:41] #446 closed

[2022-02-03 07:04] eigenvectorBazuz opened #448 "Can vector constraints be used in SHGO?"
The [documentation ](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.shgo.html) seems to impy that constraints can be vector function. However, when I tried to modify the basic example given there to work with one inequaity constraint that returns a 2-dimensional vector instead of two scalar constraints, I got an error.

Here is my code:

`def f(x):  # (cattle-feed)
    return

[2022-02-03 07:18] eigenvectorBazuz commented on #448
I think I opened this issue in the wrong repository...

[2022-02-06 00:26] WarrenWeckesser opened #451 "Most API reference internal links go to an internal link that skips the top of the page."
It looks like most of the internal links within the SciPy API reference page include a link to an id within the page using a `#` reference that skips the heading of the page.  This means information that I would expect to see is not visible unless I scroll up to see the heading.

For example, start at the [`SciPy API`](https://scipy.github.io/devdocs/reference/index.html) page, and scroll down to

[2022-02-06 04:52] inducer opened #452 "Broken link to reference guide"
If I go to

https://docs.scipy.org/doc/

and click on "SciPy Reference Guide", I get sent here:

https://docs.scipy.org/doc/scipy/reference/

which gives me a 404 Not Found error.

[2022-02-07 11:56] tupui commented on #451
It might be coming from our template. I see a few differences with NumPy and they do not have this issue. I will play around.

[2022-02-07 20:08] melissawm commented on #451
Actually we do. See https://github.com/numpy/numpy/issues/18620 and especially https://github.com/numpy/numpy/issues/18620#issuecomment-870094361

I think this is a result of how we refer to individual sphinx `objects` as opposed to `pages` - but I don't see how we could turn back from our reference style now.

[2022-02-07 20:52] tupui commented on #451
Ah right I was only thinking about the too long lines issue but not the double reference. As you said @melissawm, could be hard to do. Right now I only see playing with some JS to do this. Maybe worth asking on the theme side.

[2022-03-09 10:13] noatamir opened #464 "Broken Link to Governance"
When clicking on scipy.org/about I get redirected to ->
    https://scipy.github.io/devdocs/dev/governance/governance.html
which displays a 404 file not found github error page.  (using both chromium and firefox)

This might be a SciPy documentation issue as it seems like the scipy/doc/scource/dev/governance.rst file is a part of the documentation. But since I didn't have any code to reproduce the

[2022-03-09 10:15] tupui commented on #464
Thanks @noatamir! Do you want to fix it?

[2022-03-09 10:35] noatamir commented on #464
Sure! Let me give it a go... ^_^

[2022-03-09 10:39] NaincyKumariKnoldus commented on #464
Hey @noatamir I had loved to fixed this. And raised PR. Please review that.

[2022-03-09 11:02] #464 closed

[2022-04-02 07:46] clwez opened #471 "a sentence in stats.norm's docstring seems incorrect"

[2022-04-02 07:48] clwez commented on #471
Specifically, ``norm.pdf(x, loc, scale)`` is identically equivalent to ``norm.pdf(y) / scale`` with ``y = (x - loc) / scale``.  Here,'pdf' should be cdf.

[2022-04-02 08:02] ilayn commented on #471
Thanks @clwez this repo is for the website and it's related machinery. Please use the SciPy repo for the content.

https://github.com/scipy/scipy/issues

[2022-04-02 08:02] #471 closed

[2022-04-28 13:11] ragdollfun opened #475 "Native MathML rendering doesn't work on the numpy and scipy documentation websites"
Hello everyone,

I use a browser extension by the name of "Native MathML" which forces formula rendering engines like MathJax/KaTeX/MediaWIki to use native MathML rendering. The extension seems to be working on other websites (including Wikipedia, tell me if you know of other websites where I can test this for comparison), but it doesn't work on the numpy and scipy documentation websites. (I seem

[2022-09-06 14:01] thibaudrosin opened #498 "[issue in scipy.optimize.shgo, for COBYLA's minimizer_kwargs in scipy.optimize._shgo.py]"
In file scipy.optimize._shgo.py on line 557 in the declaration of solver_args, the solver method's specific arguments, you forgot to add 'catol' as one of COBYLA's method specific argument, leading this argument to be removed on line 584:
" _restrict_to_keys(self.minimizer_kwargs['options'],
                          self.min_solver_args + ['ftol'])"
Therefore the catol args is reset to its defaul

[2022-09-06 14:29] tupui commented on #498
@thibaudrosin Before doing that, make sure it's not a duplicate. This rings a bell.

[2022-09-06 14:47] thibaudrosin commented on #498
Thank you for your reactivity. I will move it to the  https://github.com/scipy/scipy repo @melissawm
@tupui after a quick check it doesn't seem to be an open issue on that matter in the above repo.

[2022-11-20 15:49] logankilpatrick opened #505 "Why does the SciPy website have a Install and Download header?"
Hey folks, why do both of these exist?

[2022-11-20 20:43] rgommers commented on #505
Good question. Mostly because the current layout was a 1:1 port from an older site. We should simply delete Download.